:root {
    --bg: #454545;
    --font: "Archivo", sans-serif;
    --font-display: "Archivo Narrow", sans-serif;
    --hotpink: #e94057;
    --orange: #f27121;
    --gradient: linear-gradient(35deg, var(--orange), var(--hotpink));
  }
  
  body {

    margin: auto;
    min-height: 100vh;
    background: var(--bg);
    font-family: var(--font);


  }

  .titulo{
    margin: auto;
    margin-top: 0.5em;
    color: #ffff;
  }
  
  .datos{
    color: #ffff;
    display: flex;
    justify-content: space-between;
    padding: 0em 1em 0em 1em;
  }